{% extends 'base.html' %}

{% block title %}Mascotas{% endblock %}

{% block content %}
<div class="container pt-5">
    <h1>Listado de mis mascotas</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorrer y mostrar todas las mascotas -->
            {% for mascota in mascotas %}
                <tr>
                    <td>{{ mascota.nombre }}</td>
                    <td>{{ mascota.especie }}</td>
                    <td>
                        <a href="{% url 'editar' mascota.nombre %}" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}