/*CSS: Cascade Style Sheets*/
/*
SELECTORES BASICOS:
etiqueta {
    propiedad: valor;
}

.clase {
    propiedad: valor;
}

#id {
    propiedad: valor;
}

*/

/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

h2 {
    color: blue;
    font-size: 45px;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.subrayado {
    text-decoration: underline;
}

#parrafo_especial {
    border: 2px solid purple;
    border-radius: 20px;
}

.no_border {
    border: none;
}

/*Especificidad: ID, CLASE, ETIQUETA*/

p strong { /*Etiqueta strong que está dentro de párrafo*/
    text-transform: uppercase;
}

/*
.rojo strong
#parrafo_especial em
.subrayado .abc123
*/

.contenedor > p { /*Descendente directo (hijos)*/
    border: 1px dotted red;
}

/*
#parrafo_especial > .peque
.subrayado > #purpura
*/

small.pequeno {
    font-size: 5px;
}

#seccion1.grande {
    width: 100px;
    height: 100px;
    background-color: black;
}

input[type="text"] {
    width: 350px;
}

input[type="number"] {
    height: 100px;
    background-color: blue;
    color: white;
}

.colores {
    /*color: color de la letra*/
    color: lightgreen; /*nombre de color*/
    color: rgb(111, 192, 243); /*RGB*/
    color: #ebf5ff;

    /*background-color: color de fondo*/
    background-color: black;
}

.formato_verde {
    color: green;
    font-size: 10px;
}

#texto {
    text-align: left; /*left, center, right, justify*/
    text-decoration: underline; /*underline, line-through, none, overline*/
    font-style: italic; /*italic, normal*/
    font-weight: bold; /*bold, normal, light, 100, 300, 900*/
    font-size: 20px; /* px, pt, em */
    font-family: "Roboto", sans-serif; /* serif, monospace, cursive, sans-serif */
}

.tamano {
    background-color: gray;
    width: 400px; /* ancho */
    height: 50px; /* alto */
}

.modelo_caja {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    /*Margin: el espacio entre mi elemento y el resto de la página*/
    margin: 20px; /* 4 lados aplican esa cantidad*/
    margin-top: 40px; /* -top, -right, -bottom, -left */
    margin: 70px 15px; /* ArribaAbajo IzqDer */
    margin: 50px 10px 100px 200px; /*arriba der abajo izq*/
    /*Padding: relleno o margen interno*/
    padding: 20px;
    padding-top: 100px; /* -top, -right, -bottom, -left */
    padding: 50px 15px; /* ArribaAbajo IzqDer */
    border: 2px solid black; /* solid, dotted, dashed, double*/
    /*margin: 20px auto; CENTRAR DIV*/
}

.modelo_caja:hover {
    background-color: aquamarine;
    transition: all 2s ease-out;
    border-radius: 10px;
}

.inline {
    display: inline; /*Me despliega los elementos en una sola linea PERO no me deja poner tamaños*/
    background-color: red;
    width: 100px;
    height: 100px;
}

.block {
    display: block; /*Me bloquea las cosas, NO puedo ponerlas en una sola línea PERO si puedo dar un tamaño*/
    background-color: black;
    width: 100px;
    height: 100px;
}

/*INLINE-BLOCK*/
.inline-block {
    display: inline-block; /*Elementos en 1 sola linea, poder darles un tamaño*/
    width: 300px;
    border: 2px solid red;
    vertical-align: middle;
    /* margin: 50px; */
}

#div1 {
    height: 150px;
}

#div2 {
    height: 300px;
}

#div3 {
    height: 500px;
}

.background {
    width: 400px; 
    height: 600px;
    border: 1px solid black;

    background-color: aqua;
    background-image: url(../img/gatito_small.jpg);
    background-repeat: no-repeat;
    background-size: contain; /*cover: estira vertical, contain: estirar horizontalmente*/
}